<div class="wrapper">
  <div class="side-search">
    <h1>To do</h1>
  </div>
  <div class="content col-xs-10 col-xs-offset-1 ">
    <div id="map" data-markers="<%= @markers.to_json %>">
    </div>
    <div class="cards">
      <div class="carousel-index">
        <% @islands.each do |island| %>
          <div class="carousel-item card">
            <div class="card-body">
              <h2><%=  island.name%></h2>
              <div class="description-hidden">
                <p><%=  island.description%></p>
                <%= link_to "", island_path(island), class: "card-link" %>
              </div>

            </div>
            <div class="card-footer">
              <div >
                <p>20</p>
                <i class="fas fa-users"></i>
              </div>
              <div>
                <p>50000</p>
                <i class="fas fa-dollar-sign"></i>
              </div>

            </div>


          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
    </script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<!-- Gmaps JavaScript -->
<%=  javascript_include_tag "//maps.google.com/maps/api/js?key=#{ENV['gmap_key']}"%>
