<div class="wrapper">
  <div class="side-search">
    <h1>Filters</h1>
    <%= form_tag islands_path, method: :get, class: "search-form" do %>

      <%= text_field_tag :query_area,
        params[:query_area],
        class: "search search-area",
        placeholder: "Area of the globe"
      %>
      <%= label_tag(:distance, "Distance") %>
      <%= number_field(:query, :distance, in: 1..1000, step: 10, class: "distance-input", placeholder: "50km") %>
      <%= label_tag(:min_price, "Minimal price") %>
      <%= number_field(:query, :min_price, in: 1000..100000, step: 1000, placeholder: "10000€") %>
      <%= label_tag(:max_price, "Maximal price") %>
      <%= number_field(:query, :max_price, in: 1000..100000, step: 1000, class: "max-price-input", placeholder: "50000€") %>
      <%= label_tag(:guest, "Number of people") %>
      <%= number_field(:query, :guest, in: 1..50, step: 1, placeholder: "20") %>
      <%= submit_tag "Apply filters" %>
    <% end %>

  </div>

  <div class="content col-xs-9 ">
    <h5>Discover a new paradise</h5>

    <div id="map" data-markers="<%= @markers.to_json %>">
    </div>
    <h5>Popular islands</h5>
    <p>Book an island hosted by our certified hosts for your next trip</p>
    <div class="cards">
      <% if  @islands.count < 4 %>
          <div class="cards-without-carousel">
            <% @islands.each do |island| %>
              <div class="card-index">
                <div class="card-body">
                  <h2><%=  island.name%></h2>
                  <div class="description-hidden">
                    <p><%=  island.description%></p>
                    <%= link_to "", island_path(island), class: "card-link" %>
                  </div>

                </div>
                <div class="card-footer">
                  <div >
                    <p>20</p>
                    <i class="fas fa-users"></i>
                  </div>
                  <div>
                    <p>50000</p>
                    <i class="fas fa-dollar-sign"></i>
                  </div>

                </div>


              </div>
            <% end %>
          </div>

      <% else %>
        <div class="carousel-index">
          <% @islands.each do |island| %>
            <div class="carousel-index-card-item card-index">
              <div class="card-body">
                <h2><%=  island.name%></h2>
                <div class="description-hidden">
                  <p><%=  island.description%></p>
                  <%= link_to "", island_path(island), class: "card-link" %>
                </div>

              </div>
              <div class="card-footer">
                <div >
                  <p>20</p>
                  <i class="fas fa-users"></i>
                </div>
                <div>
                  <p>50000</p>
                  <i class="fas fa-dollar-sign"></i>
                </div>

              </div>


            </div>
          <% end %>
        </div>
       <% end %>

    </div>
  </div>
</div>
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
    </script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<!-- Gmaps JavaScript -->
<%=  javascript_include_tag "//maps.google.com/maps/api/js?key=#{ENV['gmap_key']}"%>
