<div class="wrapper">
  <div class="side-search">
    <h2>Filters</h2>
    <%= form_tag islands_path, method: :get, class: "search-form" do %>
      <div class="location">
        <div>
          <%= label_tag(:query_area, "Location") %>
          <%= text_field_tag :query_area,
            params[:query_area],
            class: "location-input",
            placeholder: "Area of the globe"
          %>
        </div>

        <div>
          <%= label_tag(:distance, "Distance") %>
          <%= number_field(:query, :distance, in: 1..1000, step: 10, class: "distance-input", placeholder: "50km") %>
        </div>

      </div>

      <div class="price">
        <div class="min-price">
          <%= label_tag(:min_price, "Minimal price") %>
          <%= number_field(:query, :min_price, in: 1000..100000, step: 1000, placeholder: "10000€") %>
        </div>
        <div class="max-price">
          <%= label_tag(:max_price, "Maximal price") %>
          <%= number_field(:query, :max_price, in: 1000..100000, step: 1000, class: "max-price-input", placeholder: "50000€") %>
        </div>
      </div>


      <%= label_tag(:guest, "Number of people") %>
      <%= number_field(:query, :guest, in: 1..50, step: 1, placeholder: "20") %>
      <%= submit_tag "Apply filters", class: "btn btn-blue btn-filter" %>
    <% end %>

  </div>
  <div class="margin-map content col-xs-9">
    <div class="title-layout-map">
      <h3>Discover a new paradise</h3>
    </div>
    <div
      id="map"
      style="width: 100%;
      height: 600px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>
    <div class="p-layout">
    <h5>Pick your island</h5>
    </div>
    <div class="cards">
      <% if  @islands.count < 4 %>
          <div class="cards-without-carousel">
            <% @islands.each do |island| %>
              <div class="card-index">
                <div class="card-body">
                  <h2><%=  island.name%></h2>
                  <div class="description-hidden">
                    <p><%=  island.description%></p>
                    <%= link_to "", island_path(island), class: "card-link" %>

                </div>

              </div>
              <div class="card-footer">
                <div >
                  <p>20</p>
                  <i class="fas fa-users"></i>
                </div>
                <div>
                  <p>50000</p>
                  <i class="fas fa-dollar-sign"></i>
                </div>

              </div>


            </div>
          <% end %>
        </div>

    <% else %>
      <div class="carousel-index">
        <% @islands.each do |island| %>
          <% if island.default_photo.present? %>
            <% path = island.default_photo%>
          <% else %>
            <%  path = "http://lemag.corsair.fr/wp-content/uploads/2018/01/martinique-2487148_1280-660x400.jpg"%>
          <% end %>
          <div class="carousel-index-card-item card-index">
            <div class="card-body" style=<%="background:url(#{path})" %>>
              <h2><%=  island.name%></h2>
              <div class="description-hidden">
                <p><%=  island.description%></p>
                <%= link_to "", island_path(island), class: "card-link" %>
              </div>

            </div>
            <div class="card-footer">
              <div >
                <p>20</p>
                <i class="fas fa-users"></i>
              </div>
              <div>
                <p>50000</p>
                <i class="fas fa-dollar-sign"></i>
              </div>

            </div>


          </div>
        <% end %>
     <% end %>

  </div>
</div>
