<% if  !@island.photo_1.present? && !@island.photo_3.present? && !@island.photo_3.present?%>
  <div class="photo-placeholder" >
    <%= cl_image_tag @island.default_photo, width: 2000, height: 500, crop: :fill %>
  </div>
<% end %>
<div class="carousel-show">
  <% if @island.photo_1.present? %>
    <div class="carousel-show-item">
      <%= cl_image_tag @island.photo_1, width: 2000, height: 500, crop: :fill %>
    </div>
  <% end %>
  <% if @island.photo_2.present? %>
    <div class="carousel-show-item">
      <%= cl_image_tag @island.photo_2, width: 2000, height: 500, crop: :fill %>
    </div>
  <% end %>
  <% if @island.photo_3.present? %>
    <div class="carousel-show-item">
      <%= cl_image_tag @island.photo_3, width: 2000, height: 500, crop: :fill %>
    </div>
  <% end %>
</div>
<div class="wrapper-show">
  <div class="grid">
    <div class="show-card description-element">
      <h2><%= @island.name %></h2>

      <div class="description-text-container-show">
        <h3>Description</h3>
        <%= @island.description %>
      </div>
      <div class="show-card infos-element">
        <div >
          <h4>20</h4>
          <h4><i class="fas fa-users"></i></h4>
        </div>
        <div>
          <h4>50000</h4>
          <h4><i class="fas fa-dollar-sign"></i></h4>
        </div>
      </div>
      <% unless current_user == @island.user %>
        <div class="show-card owner-element">
          <h3>Owner</h3>
          <% @island.user %>
          <p>Contact: <%= User.find(@island.user_id).email %></p>
        </div>
      <% end %>

      <% if current_user == @island.user %>
      <div class="edit-button-container">
        <%= link_to "Edit Your Island", edit_island_path(@island) , class: "btn edit-island-button btn-blue"%>
      </div>

      <% end %>

    </div>
    <div class="show-card dates-element">
      <% if current_user == @island.user %>
        <h3>Upcoming Bookings</h3>
        <% @island.bookings.each do |booking| %>
          <p>Renter: <%= booking.user %></p>
          <p>Start Date:<%= booking.start_at %></p>
          <p>End Date:<%= booking.end_at %></p>
          <p>Booking Status:<%= booking.status %></p>
          <p>Total Price:<%= booking.total_price %></p>
          <br>
        <% end %>
      <% else %>
        <h3>Choose your dates</h3>
        <%  @booking = Booking.new%>
        <div class="calendar-container">
          <div class="calendar-form-wrapper">
            <%= simple_form_for @booking, url: island_bookings_path(@island) do |f| %>

              <%= f.input :start_at, input_html: { id: "range_start" }, class: "start-date-text" %>
              <%= f.input :end_at, input_html: { id: "range_end" }, style: "width: 200px;" %>
              <div><%= f.button :submit, "Go", class: "btn btn-blue" %></div>

            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="show-card map-element">
      <h3><em>Address : <%= @island.address.capitalize %></em></h3>

    <div
      id="map"
      style="width: 100%;
      height: 600px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>
    </div>
  </div>
</div>
