<% if  !@island.photo_1.present? && !@island.photo_3.present? && !@island.photo_3.present?%>
  <div class="photo-placeholder">
    <h1>Please add photos</h1>
  </div>
<% end %>
<div class="carousel-show">
  <% if @island.photo_1.present? %>
    <div class="carousel-show-item">
      <%= cl_image_tag @island.photo_1, width: 2000, height: 500, crop: :fill %>
    </div>
  <% end %>
  <% if @island.photo_2.present? %>
    <div class="carousel-show-item">
      <%= cl_image_tag @island.photo_2, width: 2000, height: 500, crop: :fill %>
    </div>
  <% end %>
  <% if @island.photo_3.present? %>
    <div class="carousel-show-item">
      <%= cl_image_tag @island.photo_3, width: 2000, height: 500, crop: :fill %>
    </div>
  <% end %>
</div>
<div class="wrapper-show">
  <div class="grid">
    <div class="show-card description-element">
      <h2><%= @island.name %></h2>
      <h3>Description</h3>
      <div class="description-text-container-show">
        <%= @island.description %>
      </div>
      <div class="show-card infos-element">
        <div >
          <h4>20</h4>
          <h4><i class="fas fa-users"></i></h4>
        </div>
        <div>
          <h4>50000</h4>
          <h4><i class="fas fa-dollar-sign"></i></h4>
        </div>
      </div>
      <div class="show-card owner-element">
        <% if current_user == @island.user %>
          <button class="edit-island-button btn-pink"><%= link_to "Edit Your Island", edit_island_path(@island) %></button>
          <% else %>
            <h3>Owner</h3>
            <% @island.user %>
            <p>Contact: <%= User.find(@island.user_id).email %></p>
        <% end %>
      </div>


      <p><%= @island.description %></p>

    </div>
    <div class="show-card dates-element">
      <% if current_user == @island.user %>
        <h3>Upcoming Bookings</h3>
        <% @island.bookings.each do |booking| %>
          <p>Renter: <%= booking.user %></p>
          <p>Start Date:<%= booking.start_at %></p>
          <p>End Date:<%= booking.end_at %></p>
          <p>Booking Status:<%= booking.status %></p>
          <p>Total Price:<%= booking.total_price %></p>
          <br>
        <% end %>
      <% else %>
        <h3>Choose your dates</h3>
        <%  @booking = Booking.new%>
        <%= simple_form_for [@island, @booking] do |f| %>
          <%= f.input :start_at %>
          <%= f.input :end_at %>
          <%= f.submit class: "btn btn-primary" %>
        <% end %>
      <% end %>
    </div>
    <div class="show-card map-element">
      <h3>Map</h3>
      <div id="map" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
</div>
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
    </script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<!-- Gmaps JavaScript -->
<%=  javascript_include_tag "//maps.google.com/maps/api/js?key=#{ENV['gmap_key']}"%>
