<div class="card" data-island-id="<%= booking.id %>">

    <%#= booking.island.photo_1 %>
    <%= image_tag("Island_5.jpg", class:"island_photo") %>
    <%= image_tag("user-default.jpg", class:"owner_photo") %>

  <!--  <div class="owner">
     <%#= booking.island.user.photo_user %>

   </div> -->
  <div class="island_name">
    <%= booking.island.name %>
  </div>
  <div class="d-flex">

    <div class="dates col-6">
      <p> From <%= booking.start_at %></p>
      <p> To <%= booking.end_at %></p>
    </div>
    <% if booking.status == 'pending' %>
    <div class="button_status">
      <div class="accept">
        <%= simple_form_for(booking, remote: true) do |f| %>
          <%= f.input :status, as: :hidden, input_html: { value: "accepted"} %>
          <%= f.submit "Accept", class: "accept" %>
          <% end %>
      </div>
      <div class="decline">
        <%= simple_form_for(booking, remote: true) do |f| %>
          <%= f.input :status, as: :hidden, input_html: { value: "declined"} %>
          <%= f.submit "Decline", class: "decline" %>
          <% end %>
      </div>
    </div>
      <% else %>
        <% if booking.status == "accepted" %>
        <p class="accepted">accepted</p>
        <% else %>
        <p class="declined">declined</p>
        <% end  %>

      <% end %>
  </div>
</div>
