  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">My bookings</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Booking requests</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">

      <div class="container bookings">
        <h1>My bookings</h1>
          <div class="row">
            <% current_user.bookings.each do |booking| %>
              <div class="col-md-4">
                <div class="card-booking">

                    <%#= booking.island.photo_1 %>
                    <%= image_tag("Island_5.jpg", class:"island_photo") %>
                    <%= image_tag("user-default.jpg", class:"owner_photo") %>

                  <!--  <div class="owner">
                     <%#= booking.island.user.avatar %>

                   </div> -->
                  <div class="island_name">
                    <%= booking.island.name %>
                    <%= booking.status %>
                  </div>
                  <div class="d-flex">
                    <div class="details col-6">
                      <p><i class="fas fa-users"></i> <%=  booking.island.number_of_guests %></p>
                      <p><i class="fas fa-dollar-sign"></i> <%=  booking.island.price_per_night %></p>
                    </div>
                    <div class="dates col-6">
                      <p> From <%= booking.start_at %></p>
                      <p> To <%= booking.end_at %></p>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
      </div>
    </div>


    <div role="tabpanel" class="tab-pane" id="profile">
      <div class="container bookings">
              <h1>Booking requests</h1>
                <div class="row">
                  <% current_user.bookings_as_owner.each do |booking| %>
                    <div class="col-md-4">
                      <%= render "card", booking: booking %>
                    </div>
                  <% end %>
                </div>
            </div>
    </div>
  </div>






