  <!-- Nav tabs -->
  <div class="bookings-tab">
    <ul class="nav nav-tabs nav-tabs-font" role="tablist">
      <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">My bookings</a></li>
      <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Rental requests</a></li>
    </ul>
  </div>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">

      <div class="container bookings">
        <h1>My bookings</h1>
          <div class="row">
            <% current_user.bookings.each do |booking| %>
              <div class="col-md-4">
                <%= link_to island_path(booking.island) do %>
                <div class="card-booking">

                    <%#= booking.island.photo_1 %>
                    <% if  !booking.island.photo_1.present? && !booking.island.photo_2.present? && !booking.island.photo_3.present?%>
                   <%= cl_image_tag booking.island.default_photo, class:"island_photo" %>
                   <% end %>
                   <% if booking.island.photo_1.present? %>
                   <%= cl_image_tag booking.island.photo_1, class:"island_photo" %>
                   <% end %>
                   <% if booking.island.photo_2.present? %>
                   <%= cl_image_tag booking.island.photo_2, class:"island_photo" %>
                   <% end %>
                   <% if booking.island.photo_3.present? %>
                   <%= cl_image_tag booking.island.photo_3, class:"island_photo" %>
                   <% end %>
                   <% if !booking.island.user.photo_user.present? %>
                   <%= image_tag("user-default.jpg", class:"owner_photo") %>
                   <% else %>
                   <%= cl_image_tag booking.island.user.photo_user, class:"owner_photo" %>
                   <% end %>

                  <!--  <div class="owner">
                     <%#= booking.island.user.avatar %>

                   </div> -->
                  <div class="island_name">
                    <%= booking.island.name %>
                  </div>
                  <div class="<%= booking.status %>"><em><%= booking.status %></em></div>
                  <div class="d-flex">
                    <div class="details col-6">
                      <p><i class="fas fa-users"></i> <%=  booking.island.number_of_guests %></p>
                      <p><i class="fas fa-dollar-sign"></i> <%=  booking.island.price_per_night %></p>
                    </div>
                    <div class="dates col-6">
                      <p> From <%= booking.start_at %></p>
                      <p> To <%= booking.end_at %></p>
                    </div>
                  </div>
                </div>
                <% end %>
              </div>
            <% end %>
          </div>
      </div>
    </div>


    <div role="tabpanel" class="tab-pane" id="profile">
      <div class="container bookings">
              <h1>Rental requests</h1>
                <div class="row">
                  <% current_user.bookings_as_owner.each do |booking| %>
                    <div class="col-md-4">
                      <%= render "card", booking: booking %>
                    </div>
                  <% end %>
                </div>
            </div>
    </div>
  </div>






