<div class="banner banner-box" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.6) 80%), url('<%= cloudinary_url("island_2")  %>')">
    <h2 class="profile-title" >Your Booking</h2>
  </div>
</div>
<div class="box-villa">
  <div class="container-villa">
    <div class="row text-center">
        <div class="col-sm">
          <div class="panel panel-default">
            <div class="panel-heading text-center">  <h4>Congrats! 🎉</h4></div>
             <div class="panel-body">
              <div class="box box-info">
                <div class="box-body">
                      <div class="clearfix"></div>
                      <hr style="margin:5px 0 5px 0;">
                      <div class="padding-villa">
                      <div class="col-sm" ><strong><h3><%= @booking.island.name %></h3></strong></div>
                           <div class="clearfix"></div>
                      <div class="bot-border"></div>

                      <div class="col-sm" ><%= @booking.island.address %></div>
                        <div class="clearfix"></div>
                      <div class="bot-border"></div>
                      </div>
                      <div class="padding-villa description">
                      <div class="col-sm" ><%= @booking.island.description %></div>
                        <div class="clearfix"></div>
                      <div class="bot-border"></div>
                      </div>
                      <div class="padding-villa">
                      <div class="col-sm" ><%= @booking.island.number_of_guests %> people can stay</div>

                       <div class="clearfix"></div>
                      <div class="bot-border"></div>

                      <div class="col-sm" >Price : <%= @booking.island.price_per_night %> €/night</div>
                      </div>
                      <div class="padding-villa">
                      <div class="col-sm" >Booking from <%= @booking.start_at %> to <%= @booking.end_at %></div>
                      </div>
                       <div class="clearfix"></div>
                      <div class="bot-border"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
