<div class="container">
  <%= simple_form_for(current_user) do |f| %>
      <h3>Edit your Profile</h3>
    <div class="col">
      <%= f.input :photo_user %>
      <%= f.input :photo_user_cache, as: :hidden %>
    </div>
    <div class="col">
      <p><%= f.input :first_name, placeholder:"Enter your First Name" %></p>
    </div>
    <div class="col">
      <p><%= f.input :last_name, placeholder:"Enter your Last Name" %></p>
    </div>
      <%= f.submit "Update my Profile", class: "btn btn-primary" %>
  <% end %>
  </div>
</div>
