<div class="overall-container">
  <div class="row">

   <!--  <div class="col-md-4"></div> -->

    <div class="col-md-4 col-md-offset-1 user-profile-column">
      <div class="user-profile-container">
        <div class="avatar-user-show text-center">
          <%= cl_image_tag(current_user.photo_user, class:"avatar-bordered") %>
        </div>
        <div class="details-user-show space-inside">
        <h5>
          <h3><%= current_user.first_name %> <%= @current_user.last_name %></h3>
        </h5>
        <p><%= current_user.email %></p>
        <%= link_to "Edit", edit_user_path(current_user), class: "btn btn-primary" %>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-md-offset-1 user-islands-column">
      <div class="user-islands-title">
        <h3>My Islands</h3>
      </div>
      <div class="user-islands-container">
        <% current_user.islands.each do |island|  %>
          <div class="card">

              <%#= booking.island.photo_1 %>
              <%= image_tag("Island_5.jpg", class:"island_photo") %>
              <%= image_tag("user-default.jpg", class:"owner_photo") %>

            <!--  <div class="owner">
               <%#= booking.island.user.avatar %>

             </div> -->
            <div class="island_name">
              <%= island.name %>
            </div>
            <div class="d-flex">
              <div class="details col-6">
                <p><i class="fas fa-users"></i> <%= island.number_of_guests %></p>
                <p><i class="fas fa-dollar-sign"></i> <%= island.price_per_night %></p>
              </div>
              <div class="dates col-6">
                <p><%= island.number_of_guests %></p>
                <p><%= island.price_per_night %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
