<div class="navbar-island">
  <%= link_to islands_path, class: "logo" do %>
    Iland
  <% end %>
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-island-brand" do %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-island-right hidden-xs hidden-sm">

    <% if user_signed_in? %>

      <!-- Links when logged in -->
      <%= link_to "Add a dream", "#", class: "navbar-island-item navbar-island-link" %>

      <%= link_to "My reservations", "#", class: "navbar-island-item navbar-island-link" %>

      <!-- Avatar with dropdown menu -->
      <div class="navbar-island-item">
        <div class="dropdown">
          <%= image_tag "https://www.aquaportail.com/pictures1804/palmier-cocos-nucifera-cocotier.jpg", class: "avatar dropdown-toggle", id: "navbar-island-menu", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-right navbar-island-dropdown-menu">
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
              <% end %>
            </li>
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-cog"></i>  <%= t(".settings", default: "Settings") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% else %>
      <!-- Login link (when logged out) -->
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-island-item navbar-island-link" %>
      <%= link_to t(".sign_up", default: "Register"), new_user_registration_path, class: "navbar-island-item navbar-island-link" %>
      <%= link_to "Add a dream", new_user_registration_path, class: "navbar-island-item navbar-island-link" %>




    <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-island-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-island-dropdown-menu">
        <% if user_signed_in? %>
          <li><%= link_to "My reservations", "#" %></li>
          <li><%= link_to "Add a dream", "#" %></li>
          <li><%= link_to "Profile", "#" %></li>
          <li><%= link_to "Settings", "#" %></li>
          <li><%= link_to "Sign-out", "#" %></li>
        <% else %>
          <li><%= link_to "Sign-up", "#" %></li>
          <li><%= link_to "Add a dream", "#" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div class="modal fade">
    <div class="modal-dialog">
      <div class="modal-text">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h3 class="modal-title">New Product Alert!</h3>
        </div>
        <div class="modal-body">
          <h4>Codebrainery Wizard</h4>
          <p>Sign up today for tons of new, in-depth web development training, and live support from our team of Codebrainery CodeGuides.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Try it now</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Maybe later</button>
        </div>
      </div>
    </div>
  </div>


